---
layout: archive
title: "Presentations"
permalink: /presentation/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar
                profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Presentations Table</h2>

<table>
        <thead>
                <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Link</th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <td>Dec 2024</td>
                        <td>Introduction to Google Earth Engine Presentation @ UofSC</td>
                        <td><a href="https://www.youtube.com/watch?v=B2mcQwOKGIg" target="_blank">View Presentation</a></td>
                </tr>
                <tr>
                        <td>Nov 2024</td>
                        <td>IBM Call for Code Competition Pitch Presentation @ UofSC</td>
                        <td><a href="https://www.youtube.com/watch?v=V2PTMmq3l-k" target="_blank">View Presentation</a></td>
                </tr>
                <tr>
                        <td>Oct 2024</td>
                        <td>Coastal Risk and Vulnerability Presentation @ SCARC Conference (SC, USA)</td>
                        <td><a href="https://www.youtube.com/watch?v=-nvML6FCT6Q" target="_blank">View Presentation</a></td>
                </tr>
                <tr>
                        <td>May 2024</td>
                        <td>M.Sc. Thesis Presentation @ Polytechnic University of Milan (PoliMi)</td>
                        <td><a href="https://www.youtube.com/watch?v=dJ07ccRr4yk" target="_blank">View Presentation</a></td>
                </tr>
                <tr>
                        <td>Feb 2023</td>
                        <td>Landslide Risk and Geo-Engineering Techniques for Unstable Slopes Class Project Presentation @PoliMi</td>
                        <td><a href="https://www.youtube.com/watch?v=Iwni2b6RGhs" target="_blank">View Presentation</a></td>
                </tr>
                <tr>
                        <td>Jan 2022</td>
                        <td>Tools for Risk Management Class Project Presentation @ PoliMi</td>
                        <td><a href="https://www.youtube.com/watch?v=wirIVdNAxLg" target="_blank">View Presentation</a></td>
                </tr>
        </tbody>
</table>

<!-- New style rendering if publication categories are defined -->
<!-- Commenting out the publication-related block to avoid including it on this page -->
