---
layout: single
title: "Projects"
permalink: /projects/
---

<h1>My Projects</h1>

<p>Here you will find an overview of my projects, categorized into two sections.</p>

## Category 1: Machine Learning Projects
<table>
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for project in site.projects %}
    {% if project.category == "machine-learning" %}
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.excerpt }}</td>
      <td><a href="{{ project.url }}">View Project</a></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

## Category 2: Geospatial Projects
<table>
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for project in site.projects %}
    {% if project.category == "geospatial" %}
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.excerpt }}</td>
      <td><a href="{{ project.url }}">View Project</a></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>